ul{
    list-style-type: none;
    background-color: green;
    padding: 0;
    margin: 0;
    overflow: auto;
}
h1{
    color: red;
}
li{
    float: left;
}
li a{
    display: block;
    color: blue;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li a:hover{
    background-color: aqua;
}
.kosong{
    background-color: blueviolet;
    list-style-type: none;
    background-color: brown;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.dua .satu {
    padding: 10px; 
    
}
.con{
    overflow: auto;
    width: 100%;
    padding: 1%;
}
.iju{
    background-color: blueviolet;
    float: left;
    width: 33%;
}
.yul{
    background-color: yellow;
    float: left;
    width: 33%;
}
.hul{
    background-color: pink;
    float: left;
    width: 33%;
}