ul{
    list-style-type: none;
    background-color: darkgoldenrod;
    padding: 0;
    margin: 0;
    overflow: auto;
}
img{
    width: 100%;
    max-width: 100%;
}
h1{
    border: 3px solid black;
    background-color: blue;
}
li{
    float: left;
}
li a{
    display: block;
    color: blue;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li a:hover{
    background-color: aqua;
}
.kosong{
    background-color: blueviolet;
    list-style-type: none;
    background-color: darkgoldenrod;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.dua .satu {
    padding: 10px; 
    
}
.con{
    overflow: auto;
    width: 100%;
    padding: 1%;
}
.iju{
    background-color: blueviolet;
    float: left;
    width: 33%;
}
.yul{
    background-color: yellow;
    float: left;
    width: 33%;
}
.hul{
    background-color: pink;
    float: left;
    width: 33%;
}
table, th, td {
    border: 2px solid black;
    width: 100%;
    border-collapse: collapse;
}
tr:hover{
    background-color: red;
}
div{
    display: inline;
}